* {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Roboto";
  font-weight: normal;
}

.header {
  height: 5rem;
}

.footer {
  height: 5rem;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.term {
  text-transform: uppercase;

  font-family: "Montserrat";
  font-weight: bold;
}

.option {
  text-transform: capitalize;
  padding: 0.2rem;
}

.answer-correct {
  border: 2px solid lime;
}

.answer-wrong {
  border: 2px solid crimson;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
